/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/main.scss */
.btn .btn-navbar {
  margin-right: 20px;
}

/* line 12, ../sass/main.scss */
.navbar-fixed-top, .navbar-fixed-bottom {
  position: static;
}

/* line 16, ../sass/main.scss */
.nav {
  padding-left: 10px;
}

/* line 20, ../sass/main.scss */
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  width: 700px;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
}
@media screen and (max-width: 700px) {
  /* line 20, ../sass/main.scss */
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    padding: 0px;
  }
}

/* line 34, ../sass/main.scss */
.content .row-fluid {
  width: 696px;
  margin: auto;
  top: -10px;
  padding-top: 20px;
  margin-top: -5px;
  border: 2px solid #252525;
  z-index: -5;
  background-color: #FFF;
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* line 46, ../sass/main.scss */
.content .row-fluid .span8 {
  padding: 0px 10px 0px;
  margin-bottom: 10px;
  border-right: 1px solid #333;
  padding-left: 10px;
}
@media screen and (max-width: 700px) {
  /* line 34, ../sass/main.scss */
  .content .row-fluid {
    width: 100%;
    margin: none;
    border-radius: 0px;
    padding: 0px;
    border: none;
  }
  /* line 61, ../sass/main.scss */
  .content .row-fluid .span4 {
    display: none;
  }
}
/* line 66, ../sass/main.scss */
.content .row-fluid .scroll {
  overflow: auto;
}

@media screen and (max-width: 979px) {
  /* line 72, ../sass/main.scss */
  .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin: 0px;
    margin-bottom: 20px;
  }
}

/* line 79, ../sass/main.scss */
.container .brand {
  margin-left: -10px;
}

/* line 83, ../sass/main.scss */
.checkboxes {
  display: block;
  padding: 10px;
  font-size: 16px;
  width: 200px;
  background-color: #333;
  color: #FFF;
  border-radius: 5px;
  margin: 5px 0px;
}
/* line 93, ../sass/main.scss */
.checkboxes label {
  margin: auto;
  display: inline-block;
}
/* line 98, ../sass/main.scss */
.checkboxes input {
  margin: 0px;
  float: right;
}

/* line 104, ../sass/main.scss */
.table {
  overflow: auto;
  height: 200px;
  max-width: 100%;
}

/* line 110, ../sass/main.scss */
p {
  font-size: 14px;
  padding-bottom: 15px;
  line-height: 20px;
}

/* line 116, ../sass/main.scss */
h3 {
  font-size: 24.5px;
  font-weight: bold;
  padding-bottom: 20px;
  line-height: 40px;
}

/* line 123, ../sass/main.scss */
body {
  background: white url("/includes/img/background.jpg") repeat;
}
